@charset 'utf-8';
header > .head {
  background-color: #333;
  height: 40px;
  position: relative;
}
header > .head > .wrapper > a {
  float: left;
  font-size: 12px;
  line-height: 40px;
  color: #b0b0b0;
  cursor: pointer;
}
header > .head > .wrapper > a:hover {
  color: white;
}
header > .head > .wrapper > span {
  float: left;
  margin: 0 0.3rem;
  line-height: 40px;
  color: #424242;
}
header > .head > .wrapper .right {
  float: right;
  line-height: 40px;
}
header > .head > .wrapper .shopping {
  margin-left: 30px;
  height: 40px;
  width: 149px;
  color: #b0b0b0;
  background: #424242;
  text-align: center;
  cursor: pointer;
  line-height: 40px;
  position: relative;
}
header > .head > .wrapper .shopping > span {
  margin-right: 5px;
  font-size: 18px;
}
header > .head2 {
  height: 100px;
  border-bottom: 0px solid #b4b4b4;
  position: relative;
}
header > .head2 > .wrapper > .xiaomi {
  float: left;
  color: #f69000;
  line-height: 100px;
}
header > .head2 > .wrapper > .xiaomi > span {
  font-size: 55px;
}
header > .head2 > .wrapper > .daohan {
  margin: 0 110px 0 190px;
  float: left;
  line-height: 100px;
}
header > .head2 > .wrapper > .daohan > a {
  margin-right: 10px;
}
header > .head2 > .wrapper > .daohan > a:hover {
  color: #f69000;
}
header > .head2 > .wrapper > .daohan > a:hover > .erji {
  height: 220px;
  top: 101px;
  transition-duration: 0.5s;
}
header > .head2 > .wrapper > .daohan > .xbk {
  margin-right: 10px;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji {
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 0px;
  width: 100%;
  z-index: 999;
  left: 0px;
  overflow: hidden;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper {
  padding-top: 10px;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper > ul {
  display: flex;
  justify-content: space-between;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper > ul > li {
  padding: 10px 30px 0px 30px;
  text-align: center;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper > ul > li > img {
  width: 100px;
  height: 120px;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper > ul > li > span {
  display: block;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
}
header > .head2 > .wrapper > .daohan > .xbk > .erji > .wrapper > ul > .fgx {
  height: 120px;
  padding: 0px;
  margin-top: 10px;
  border-right: 1px solid #bbb;
}
header > .head2 > .wrapper > .shousuo {
  float: left;
  margin-top: 20px;
  position: relative;
}
header > .head2 > .wrapper > .shousuo > input {
  border: 1px solid #e1e1e1;
}
header > .head2 > .wrapper > .shousuo > input:nth-child(2) {
  height: 62px;
  width: 60px;
  float: left;
  background-color: white;
  text-align: center;
  line-height: 65px;
  border-left: 0px;
  cursor: pointer;
}
header > .head2 > .wrapper > .shousuo > #seekbox {
  float: left;
  height: 60px;
  width: 240px;
  padding-left: 15px;
  line-height: 65px;
}
header > .head2 > .wrapper > .shousuo > div {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
header > .head2 > .wrapper > .shousuo > div > span {
  font-size: 30px;
}
header > .head2 > .wrapper > .shousuo:hover > input {
  border-color: #b4b4b4;
}
header > #banner {
  padding-top: 7px;
}
header > #banner .wrapper #menu_content_bg {
  width: 100%;
  overflow: hidden;
  position: absolute;
  background: #fff;
  z-index: 700;
  transition: all 3s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
}
header > #banner .wrapper #menu_content_bg #menu_content_wrap ul {
  height: auto;
  width: 100%;
  position: absolute;
  color: #424242;
  display: block;
}
header > #banner .wrapper #menu_content_bg #menu_content_wrap ul li {
  display: none;
  width: 100%;
  height: 230px;
}
header > #banner .wrapper #menu_content_bg #menu_content_wrap ul li .menu_content {
  float: left;
  width: 160px;
  cursor: pointer;
  margin-top: 30px;
}
header > #banner .wrapper #menu_content_bg #menu_content_wrap ul li .menu_content p {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}
header > #banner .wrapper #menu_content_bg #menu_content_wrap ul li .menu_content_line {
  width: 0px;
  height: 100px;
  float: left;
  margin: 30px 20px;
  border-left: 1px solid #D0D0D0;
}
header > #banner .wrapper #big_banner_wrap {
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
  color: #424242;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap {
  width: 235px;
  height: 98%;
  float: left;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  z-index: 600;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap .active {
  margin-top: 20px;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li {
  width: 100%;
  height: 42px;
  position: relative;
  transition: all 3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  line-height: 40px;
  cursor: pointer;
  font-family: "宋体";
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li a {
  font-size: 13px;
  color: #ffffff;
  margin-left: 30px;
  float: left;
  text-decoration: none;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_i {
  float: right;
  font-size: 20px;
  margin-right: 20px;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content {
  width: 600px;
  height: 459px;
  display: none;
  z-index: 610;
  position: absolute;
  left: 235px;
  background: #fff;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul {
  float: left;
  width: 280px;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li {
  width: 250px;
  height: 40px;
  padding: 18px;
  float: left;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li a {
  color: #424242;
  margin-left: 5px;
  font-size: 12px;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li span {
  width: 59px;
  height: 25px;
  float: right;
  margin-top: 5px;
  border: 1px solid #ff6700;
  color: #FF6700;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  transition: all 3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
header > #banner .wrapper #big_banner_wrap #banner_menu_wrap li .banner_menu_content .banner_menu_content_ul li span:hover {
  background: #ff6700;
  color: #ffffff;
}
header > #banner .wrapper #big_banner_wrap #big_banner_pic_wrap {
  width: 1226px;
  height: 460px;
  overflow: hidden;
  position: relative;
  top: -17px;
}
header > #banner .wrapper #big_banner_wrap #big_banner_pic_wrap #big_banner_pic {
  width: 6130px;
  height: 460px;
  position: absolute;
  float: left;
  top: 10px;
}
header > #banner .wrapper #big_banner_wrap #big_banner_pic_wrap #big_banner_pic li {
  width: 1226px;
  height: 460px;
  float: left;
  cursor: pointer;
}
header > #banner .wrapper #big_banner_wrap #big_banner_change_wrap {
  width: 961px;
  height: 460px;
  position: absolute;
  top: 0px;
  left: 250px;
  color: #ffffff;
}
header > #banner .wrapper #big_banner_wrap #big_banner_change_wrap div {
  display: none;
  transition: all 3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
header > #banner .wrapper #big_banner_wrap #big_banner_change_wrap div:hover {
  background: #333333;
  cursor: pointer;
  color: #FF6700;
}
header > #banner .wrapper #big_banner_wrap #big_banner_change_wrap #big_banner_change_prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: left;
  margin-top: 205px;
  font-size: 50px;
  text-align: center;
  font-family: "宋体";
}
header > #banner .wrapper #big_banner_wrap #big_banner_change_wrap #big_banner_change_next {
  width: 50px;
  height: 50px;
  line-height: 50px;
  float: right;
  margin-top: 205px;
  font-size: 50px;
  text-align: center;
  font-family: "宋体";
}
main > .title {
  width: 100%;
  height: 63px;
  color: #616161;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
main > .title > .wrapper {
  width: 1200px;
}
main > .title > .wrapper .left {
  font-size: 20px;
  line-height: 63px;
  float: left;
}
main > .title > .wrapper .right {
  float: right;
  line-height: 63px;
}
main > .title > .wrapper .right a {
  color: #757575;
}
main > .title > .wrapper .right a:hover {
  color: #ff6700;
}
main .main1 {
  padding-top: 32px;
  padding-bottom: 12px;
}
main .main1 .wrapper {
  display: flex;
}
main .main1 .wrapper .left {
  width: 560px;
  position: relative;
}
main .main1 .wrapper .left > img {
  width: 560px;
  height: 560px;
}
main .main1 .wrapper .left .leftbuttom {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  cursor: pointer;
  background: url(../img/icon-slides.png) no-repeat -84px 50%;
  left: 0;
  right: auto;
}
main .main1 .wrapper .left .leftbuttom:hover {
  background-position: 0 50%;
}
main .main1 .wrapper .left .rightbuttom {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  cursor: pointer;
  background: url(../img/icon-slides.png) no-repeat -125px 50%;
  right: 0;
  left: auto;
}
main .main1 .wrapper .left .rightbuttom:hover {
  background-position: -42px 50%;
}
main .main1 .wrapper .left .jindutiao {
  position: absolute;
  text-align: center;
  width: 550px;
  bottom: 50px;
}
main .main1 .wrapper .left .jindutiao span {
  cursor: pointer;
  display: inline-block;
  background: #ccc;
  width: 50px;
  border-radius: 0;
  border: 0;
  height: 3px;
}
main .main1 .wrapper .right {
  margin-left: 20px;
}
main .main1 .wrapper .right > .title {
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}
main .main1 .wrapper .right > .title p {
  color: #ff6700;
  line-height: 1.5;
  padding-top: 8px;
}
main .main1 .wrapper .right > .title p:last-child {
  font-size: 18px;
}
main .main1 .wrapper .right > .title h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
}
main .main1 .wrapper .right .dinwei {
  margin: 20px 0;
  margin-top: 25px;
  padding: 30px 50px;
  position: relative;
  background: #fafafa;
  border: 1px solid #e0e0e0;
}
main .main1 .wrapper .right .dinwei a {
  color: #ff6700;
}
main .main1 .wrapper .right .select {
  height: 100px;
  margin-bottom: 10px;
}
main .main1 .wrapper .right .select > .title {
  font-size: 18px;
  margin-bottom: 10px;
}
main .main1 .wrapper .right .select > ul > li {
  margin-right: 12px;
  margin-top: 10px;
  line-height: 42px;
  height: 42px;
  position: relative;
  border: 1px solid #e0e0e0;
  list-style: none;
  cursor: pointer;
  width: 292px;
  font-size: 16px;
  text-align: center;
  color: #757575;
  float: left;
  transition: 0.5s;
}
main .main1 .wrapper .right .select > ul > li:hover {
  border-color: #FF6700;
}
main .main1 .wrapper .right .select > ul > li a {
  color: #757575;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 5px;
  transition: 0.5s;
}
main .main1 .wrapper .right .select > ul > li a:hover {
  color: #FF6700;
}
main .main1 .wrapper .right .select > ul > .active {
  color: #FF6700;
  border-color: #FF6700;
}
main .main1 .wrapper .right .select > ul > .active a {
  color: #FF6700;
}
main .main1 .wrapper .right .myselect {
  background: #f9f9fa;
  padding: 30px;
  margin-bottom: 30px;
}
main .main1 .wrapper .right .myselect .top {
  display: flex;
  justify-content: space-between;
}
main .main1 .wrapper .right .buttom {
  color: #ff6700;
  font-size: 24px;
  padding-top: 20px;
  display: flex;
}
main .main1 .wrapper .right .buttom .buy {
  width: 298px;
  height: 52px;
  line-height: 52px;
  font-size: 16px;
  background-color: #FF6700;
  text-align: center;
  cursor: pointer;
  transition: 1s;
}
main .main1 .wrapper .right .buttom .buy:hover {
  background-color: #f25807;
  border-color: #f25807;
}
main .main1 .wrapper .right .buttom .buy a {
  color: #fff;
}
main .main1 .wrapper .right .buttom .like {
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  display: block;
  width: 140px;
  height: 52px;
  line-height: 52px;
  background: #b0b0b0;
  transition: 1s;
}
main .main1 .wrapper .right .buttom .like:hover {
  background-color: #757575;
  border-color: #757575;
}
main .main1 .wrapper .right .buttom .like a {
  color: #fff;
}
main .main1 .wrapper .right .buttom .like span {
  font-size: 22px;
  color: white;
}
main .main1 .wrapper .right .explain {
  width: 550px;
  margin-top: 10px;
}
main .main1 .wrapper .right .explain span {
  font-size: 16px;
  color: #b0b0b0;
}
main .main2 {
  background-color: #f5f5f5;
}
main .main2 .wrapper .imgbox {
  background-color: #f5f5f5;
}
main .main2 .wrapper .imgbox p {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0;
}
main .main2 .wrapper .imgbox .box7 img {
  width: 100%;
}
main .main2 .wrapper .imgbox .box8 img {
  width: 100%;
  padding-bottom: 20px;
}
footer > .wrapper > .top {
  padding: 37px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer > .wrapper > .top > ul > li {
  float: left;
  width: 19.8%;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  transition: 0.2s;
}
footer > .wrapper > .top > ul > li:hover {
  color: orange;
}
footer > .wrapper > .top > ul > li > a {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}
footer > .wrapper > .top > ul > li > a:hover {
  color: orange;
}
footer > .wrapper > .top span {
  font-size: 20px;
}
footer > .wrapper > .bottom {
  margin: 10px 0;
}
footer > .wrapper > .bottom > .left {
  border-right: 1px solid #757575;
}
footer > .wrapper > .bottom > .left > ul {
  float: left;
  width: 160px;
  margin: 0;
}
footer > .wrapper > .bottom > .left li {
  font-size: 10px;
  color: #757575;
  margin: 5px 0px;
}
footer > .wrapper > .bottom > .left .title {
  font-size: 18px;
}
footer > .wrapper > .bottom > .left a {
  color: #757575;
}
footer > .wrapper > .bottom > .left a:hover {
  color: orange;
}
footer > .wrapper > .bottom > .right {
  text-align: center;
}
footer > .wrapper > .bottom > .right .phone {
  font-size: 22px;
  line-height: 1;
  display: block;
  color: #ff6700;
}
footer > .wrapper > .bottom > .right .tm {
  font-size: 12px;
}
footer > .wrapper > .bottom > .right .command {
  border-color: #ff6700;
  background: #fff;
  color: #ff6700;
  display: inline-block;
  width: 158px;
  height: 38px;
  padding: 0;
  margin: 0;
  border: 1px solid #b0b0b0;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #b0b0b0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
footer > .wrapper > .bottom > .right .command:hover {
  color: #fff;
  background-color: #f25807;
  border-color: #f25807;
}
footer > .wrapper > .bottom > .right .gz {
  font-size: 12px;
  margin-top: 10px;
}
footer > .wrapper > .bottom > .right .gz .wb {
  font-size: 20px;
}
footer > .wrapper > .bottom > .right .gz .wb:hover {
  color: #f25807;
  cursor: pointer;
}
footer > .wrapper > .bottom > .right .gz .vx {
  font-size: 20px;
}
footer > .wrapper > .bottom > .right .gz .vx:hover {
  cursor: pointer;
  color: #f25807;
  font-size: 20px;
}
footer > .wrapper > .bottom > .right .gz .vx:hover ~ .vxp {
  display: block;
}
footer > .wrapper > .bottom > .right .vxp {
  position: absolute;
  right: 200px;
  display: none;
}
#bottom {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}
#bottom .milogo {
  color: #f25807;
}
#bottom .icon-icon-xiaomiguishu {
  font-size: 55px;
}
#bottom .wrapper {
  display: flex;
}
#bottom .wrapper .milogo {
  margin-right: 15px;
}
#bottom .wrapper .text1 {
  width: 1000px;
}
#bottom .wrapper .text1 a {
  color: #757575;
}
#bottom .wrapper .text1 a:hover {
  color: #f25807;
}
#bottom .wrapper .text .text2 {
  margin-bottom: 50px;
}
#bottom .wrapper .text .text2 p {
  font-size: 12px;
  color: #b0b0b0;
}
#bottom .wrapper .text .text2 p a {
  color: #b0b0b0;
}
#bottom .wrapper .text .text2 p a:hover {
  color: #f25807;
}
#bottom .wrapper .heikeji {
  width: 368px;
  height: 21px;
  margin: 0 auto;
}
main .gohome {
  position: fixed;
  width: 80px;
  bottom: 70px;
  right: 0;
  z-index: 99;
  color: #333;
}
main .gohome .gudin {
  background-color: #fff;
}
main .gohome a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: auto;
  color: #757575;
  margin: 20px 0;
}
main .gohome a:hover {
  color: #ff6700;
}
main .gohome a .iconfont {
  font-size: 40px;
  margin-bottom: 5px;
}
main .gohome > a:last-child {
  background-color: #fff;
  margin-top: 30px;
  padding-top: 10px;
  display: none;
}
main .bottom > .wrapper > .left .box1:hover {
  position: relative;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms;
}
main .bottom > .wrapper > .right .box1 a:hover {
  position: relative;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms;
}
main .bottom > .wrapper > .right .box a:hover {
  position: relative;
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms;
}
