@charset 'utf-8';
.leftbox {
  position: fixed;
  top: 0px;
  width: 25%;
  height: 1000px;
  background: url("../img/zc1.jpg") no-repeat;
  background-position: 0px -100px;
  background-size: contain;
}
.rightbox {
  width: 75%;
  float: right;
}
.rightbox > .box1 {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.rightbox > .box1 > .left {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.rightbox > .box1 > .left > div > .icon-icon-xiaomiguishu {
  display: inline-block;
  font-size: 45px;
  margin-top: 10px;
  color: #f69000;
}
.rightbox > .box1 > .left > span {
  padding: 0px 10px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bolder;
}
.rightbox > .box1 > .right {
  padding: 20px 20px;
}
.rightbox > .box1 > .right > a {
  line-height: 5px;
  display: inline-block;
  padding: 0px 10px;
  color: #b7b7b7;
}
.rightbox > .box1 > .right > a:hover {
  color: #f69000;
}
.rightbox > .box1 > .right > span {
  color: #afafaf;
}
.rightbox > .box2 {
  margin: 10px auto;
  width: 360px;
  height: 400px;
  padding: 40px 45px;
  border-radius: 2%;
  background-color: white;
  box-shadow: 0 20px 50px 0 hsla(0, 0%, 64%, 0.1);
}
.rightbox > .box2 > .top > a {
  color: black;
}
.rightbox > .box2 > .top > a > span {
  padding: 10px 10px;
  font-size: 18px;
}
.rightbox > .box2 > .top > a > .active {
  color: #f69000;
  border-bottom: 3px solid #f69000;
}
.rightbox > .box2 > #bg > div > .terseInput {
  margin: 5px 0px;
  /*width: 30%;*/
  height: 3.3Rem;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: white;
  padding: 1.125Rem 0Rem 0 0Rem;
  position: relative;
  cursor: text;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_state_action {
  border: 1px solid #0070c9;
  box-shadow: 0 0 0 3px rgba(131, 192, 253, 0.5);
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_state_err {
  border: 1px solid #de071c;
  background-color: #fef0f0;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_span {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*border: 1px solid royalblue;*/
  position: absolute;
  top: 30.785555%;
  left: 5.5%;
  color: dimgray;
  font-weight: 500;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_span_state_up {
  font-size: 12px;
  top: 13%;
  left: 3.5%;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_span_state_down {
  font-size: 16px;
  top: 29.5%;
  left: 5.5%;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_span_animat_up {
  animation: terseInput_span_animat_up 0.3s ease-out;
  animation-fill-mode: forwards;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_span_animat_down {
  animation: terseInput_span_animat_down 0.3s ease-out;
  animation-fill-mode: forwards;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_inputDiv {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  width: 93%;
  height: 1.8rem;
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_input {
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0);
}
.rightbox > .box2 > #bg > div > .terseInput .terseInput_icon_err {
  margin-top: 10px;
  height: 17.5px;
  background-image: url("err.svg");
  background-repeat: no-repeat;
  background-position-y: 0.5px;
  padding-left: 22px;
  font-size: 12px;
  text-align: left;
  line-height: 17.5px;
  color: red;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes terseInput_span_animat_down {
  0% {
    font-size: 12px;
    top: 13%;
    left: 3.5%;
  }
  100% {
    font-size: 16px;
    top: 29.5%;
    left: 5.5%;
  }
}
@keyframes terseInput_span_animat_up {
  100% {
    font-size: 12px;
    top: 13%;
    left: 3.5%;
  }
}
.rightbox > .box2 > #bg > div > #btn {
  margin: 5px 0px;
  width: 282px;
  height: 50px;
  background-color: #f69000;
  border: none;
  cursor: pointer;
}
.rightbox > .box3 {
  margin-top: 100px;
  text-align: center;
  color: #b7b7b7;
}
